.background {
    position: relative;
    background-color:  #2a3f54;
    min-height: 100vh;
    min-width: 100vw;
}

.arrow-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back-arrow {
    position: relative;
    height: 35%;
    width: 40px;
    top: 50%;
    transform: translate(0, -50%);
    user-select: none;
}

.country-name {
    position: relative;
    color: white;
    user-select: none;
}

@media screen and (max-width: 1023px) {
    .arrow-flex {
        position: absolute;
        transform: translate(0, 50%);
        left: 3%;
    }
    .back-arrow {
        top: 0;
        transform: translate(0);

    }
    .country-name {
        margin-left: 0.2em;
        margin-right: 0.2em;
    }
}