.worldwide-background {
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
    height: 75%;
    width: 90%;
    border-radius: 35px;
    border: none;
    margin-bottom: 3em;
}

.worldwide-title-div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.worldwide-title {
    position: relative;
    color: white;
    margin: 0.5em;
    left: 1%;
    user-select: none;
}

.widgets {
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.date-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    height: 6vh;
    background-color: rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    margin: 1em;
    border-radius: 15px;
}

.date-bar-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.today {
    margin: 0;
    color: rgb(250, 250, 250);
    user-select: none;
}

.yesterday {
    margin: 0;
    color: rgb(250, 250, 250);
    user-select: none;
}
