.master-country-box {
    position: relative;
    width: 100%;
    height: 90%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.country-div {
    position: relative;
    width: 100%;
    height: 12%;
}
.country-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    font-size: xx-large;
    font-weight: 600;
    color: black;
}

.master-columns {
    position: relative;
    height: 88%;
    width: 100%;
    margin: 0%;
}
.cl-left {
    position: relative;
    padding: 0%;

}
.cl-right {
    position: relative;
    padding: 0%;
}

.left-label-div {
    position: relative;
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 8%;
    font-size: large;
    font: bold;
    color: black;
}

.right-label-div {
    position: relative;
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 8%;
    font-size: large;
    font: bold;
    color: black;
}


@media screen and (max-width: 768px) {
    .master-country-box {
        position: relative;
        width: 100%;
        height: 90%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    
    .country-div {
        position: relative;
        height: 15%;
        display: flex;
    }
    .country-label {
        position: relative;
        font-size: xx-large;
        font-weight: 600;
        color: black;
        display: flex;
        justify-content: center;
    }
    
    .master-columns {
        position: relative;
        height: 88%;
        width: 100%;
        margin: 0%;
    }
    .cl-left {
        position: relative;
        padding: 0%;
    
    }
    .cl-right {
        position: relative;
        padding: 0%;
    }
    
    .left-label-div {
        position: relative;
        width: 88%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        left: 8%;
        font-size: large;
        font: bold;
        color: black;
    }
    
    .right-label-div {
        position: relative;
        width: 88%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        left: 8%;
        font-size: large;
        font: bold;
        color: black;
    }
}
