.box-small {
    position: relative;
    height: 100px;
    width: 190px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.box-cases {
    border-color: rgb(251, 255, 0);
    background-color: rgba(251, 255, 0, 0.1);
}
.box-new-cases {
    border-color: rgb(255, 196, 0);
    background-color: rgb(255, 196, 0, 0.1);
}
.box-deaths {
    border-color: orangered;
    background-color: rgba(255, 68, 0, 0.1);
}
.box-new-deaths {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
}
.box-active {
    border-color: rgb(255, 123, 0);
    background-color: rgb(255, 123, 0, 0.1);
}
.box-recovered {
    border-color: rgb(123, 255, 47);
    background-color: rgb(123, 255, 47, 0.1);
}
.box-new-recovered {
    border-color: lime;
    background-color: rgba(0, 255, 0, 0.1);
}
.box-tested {
    border-color: lightgreen;
    background-color: rgba(144, 238, 144, 0.1);
}


.title-h3-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title-h3 {
    margin: 0.4em;
    color: rgb(230, 230, 230);
    user-select: none;
}

.data-text-box-general-country {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.data-text-general-country {
    display: flex;
    color: rgb(230, 230, 230);
    user-select: none;
    margin: 0.1em;
}

@media screen and (max-width: 768px) {
    .box-small {
        position: relative;
        height: 100px;
        width: 135px;
        border-radius: 15px;
        border-style: solid;
        border-width: 3px;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
    .data-text {
        display: flex;
        color: rgb(230, 230, 230);
        user-select: none;
        margin: 0;
    }
}